<h1>Listing Purchased</h1>
<%= link_to 'paid', controller: 'admin', action: 'index', status: 'paid' %>
<%= link_to 'shipped', controller: 'admin', action: 'index', status: 'shipped' %>
<%= link_to 'cancelled', controller: 'admin', action: 'index', status: 'cancelled' %>
<%= link_to 'all', controller: 'admin' %>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Payment Type</th>
    <th>User's Email</th>
  </tr>
 
  <% @purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.name %></td>
      <td><%= purchase.phone %></td>
      <td><%= purchase.address %></td>
      <td><%= purchase.payment_type %></td>
      <td><%= purchase.user.email %></td>
      <td><%= link_to 'Show', {action: "show", id: purchase.id} %></td>
    </tr>
  <% end %>
</table>
