<% if not @orders.empty? %>
  <h1>Listing Orders</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Order Time</th>
    </tr>
   
    <% total = 0 %>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.item.name %></td>
        <td><%= order.item.price %></td>
        <td><%= order.created_at %></td>
      </tr>
      <% total = total + order.item.price %>
    <% end %>
  </table>

  <p>Total: <%= total %></p>
  <%= link_to 'Pay It!', {action: "pay"} %>
<% else %>
<p> Nothing! </p>
<% end %>