<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_user %>
		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('Edit Password', edit_registration_path(:user)) %> |
      <%= link_to 'Items', controller: 'items' %> |
      <%= link_to 'Orders', controller: 'orders' %>
      <% if current_user.role == 'admin' %>
        <%= link_to 'Admin', controller: 'admin' %>
      <% end %>
	  <% else %>
		  <%= link_to('Register', new_registration_path(:user)) %> |
		  <%= link_to('Login', new_session_path(:user)) %>
	  <% end %>
    <%= yield %>
  </body>
</html>
